*.log
builds/.terraform/
builds/.terraform.lock.hcl
builds/terraform.tfstate
builds/terraform.tfstate.backup

deployment/.terraform/
deployment/.terraform.lock.hcl
deployment/terraform.tfstate
deployment/terraform.tfstate.backup
